<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= view.title %></title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
</head>

<body>

<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="/"><img src="/img/branding/logo_light_horizontal.svg" alt="Logo"></a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item"><a class="navbar__link" href="/shop">VER TIENDA</a></il>
            <li class="navbar__item"><a class="navbar__link" href="/admin">ADMIN</a></il>
            <li class="navbar__item"><a class="navbar__link" href="/logout">SALIR</a></il>
        </ul>
    </nav>
</header>