<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FunkShop</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>

    <%- include('../../partials/headerAdmin'); -%>

    <main id="login">

        <section class="login">
            <h2 class="login__title">INGRESAR A MI CUENTA</h2>
            <div class="login__form">
                <form  method="post" id="login-form">
                    <div class="login-form">
                        <span class="login-form__label" for="l-mail">Email:</span>
                        <input class="login-form__input" type="text" name="l-mail" required placeholder="jhondoe@correo.com"><br>

                        <span class="login-form__label" for="l-password">Contraseña:</span>
                        <input class="login-form__input" type="text" name="l-password" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"><br>
                    </div>
                    <div class="login-submit">
                        <input type="submit" value="Ingresar" form="login-form">
                        <div class="remember-me">
                            <input type="checkbox" name="remember" required>
                            <span>Recordarme</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="forgot">
                <a href="">Olvide mi contraseña</a>
            </div>

        </section>


    </main>

    <%- include('../../partials/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>
</html>