<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | FunkShop</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>

    <%- include('../../partials/headerAdmin'); -%>

    <main id="register">

        <div class="register container">
            <h2 class="register__title">CREA TU CUENTA</h2>
            <p class="register__text">Completa el fomulario para ser parte del mundo de los Funkos</p>
            <div class="register__form">
                <form  method="post" id="register-form">
                    <div class="register-form">
                        <span class="register-form__label" for="r-name">Nombre:</span>
                        <input class="register-form__input" type="text" name="r-name" required placeholder="Jhon"><br>

                        <span class="register-form__label" for="r-lastname">Apellido:</span>
                        <input class="register-form__input" type="text" name="r-lastname" required placeholder="Doe"><br>

                        <span class="register-form__label" for="r-email">Email:</span>
                        <input class="register-form__input" type="email" name="r-email" required placeholder="jhondoe@correo.com"><br>

                        <span class="register-form__label" for="r-password">Contraseña:</span>
                        <input class="register-form__input" type="password" name="r-password" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;""><br>       

                        <span class="register-form__label" for="r-password__check">Repita Contraseña:</span>
                        <input class="register-form__input" type="password" name="r-password__check" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                    </div>
                    <div class="register-submit">
                        <input type="submit" value="Registrarse" form="register-form">
                        <div class="register-terms">
                            <input type="checkbox" name="terminos" required>
                            <span>He leído y acepto los <a href="">Terminos y condiciones</a></span>
                    </div>
                </form>
            </div>
        </div> 

    </main>

    <%- include('../../partials/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>
</html>