header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__logo{
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    display: inline-block;
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary--900);
}


.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.submenu {
    position: absolute;
    background-color: var(--dark-bg-solid);
    display: none;
    width: 300px;
    z-index: 3;
}

.submenu__item {
    display: block;
    padding: var(--spacing-8) var(--spacing-16); 
    font-size: medium;
    transition: background .3s ease-in-out;
}

.submenu__item:hover {
    background-color: var(--primary--900);
}

.with-submenu:hover .submenu {
    display: block;
}
